<div class="row">
  <div class="col-md-5 col-sm-12 mb-2">
    <img class="img-fluid" src="https://dummyimage.com/450x350/dee2e6/6c757d.jpg" alt="Card image cap">
  </div>
  <div class="col-md-7 col-sm-12 text-center d-flex align-items-center justify-content-center">
    <div>
      <p class="text-uppercase"><%= @listing.item_category %> · <%= @listing.owner.full_name %></p>
      <h2><%= @listing.name %></h2>
      <h5 class="mt-3"><%= @listing.fee %> <%= @listing.fee_unit %> / <%= @listing.fee_time %></h5>
      <p class="mx-3 my-4"><%= @listing.description %></p>
      <div class="d-flex justify-content-center mt-2">
        <% if @listing.owner == current_user %>
          <% if defined? show_requests_btn and show_requests_btn%>
            <%= link_to("Manage Requests", listing_rental_requests_path(@listing.id), class: "btn btn-info btn-sm mx-1") %>
          <% end %>
          <% if defined? show_details_btn and show_details_btn %>
            <%= link_to("View Details", listing_path(@listing.id), class: "btn btn-secondary btn-sm mx-1") %>
          <% end %>
          <%= link_to("Edit", edit_listing_path(@listing), class: "btn btn-warning btn-sm mx-1") %>
          <%= button_to("Delete", listing_path(@listing), class: "btn btn-danger btn-sm mx-1", method: :delete) %>
        <% else %>
          <% if defined? show_rent_btn and show_rent_btn %>
            <%= link_to "Rent this!", new_listing_rental_request_path(@listing.id), class: "btn btn-success btn-sm mx-1" %>
          <% end %>
          <% if defined? show_requests_btn and show_requests_btn%>
            <%= link_to("View Requests", listing_rental_requests_path(@listing.id), class: "btn btn-info btn-sm mx-1") %>
          <% end %>
          <% if defined? show_details_btn and show_details_btn %>
            <%= link_to("View Details", listing_path(@listing.id), class: "btn btn-secondary btn-sm mx-1") %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>