<div class="col-md-4 col-sm-12">
  <div class="card mb-4">
    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><%= listing.name %></h5>
      <p class="card-text">
        <%= listing.fee %> <%= listing.fee_unit %> / <%= listing.fee_time %> <br>
      </p>
      <div class="d-flex justify-content-between align-items-center w-100">
        <% unless listing.listing_reviews.empty? %>
          <h5 class="d-inline-block mb-0 text-warning">
            <% (listing.rating.floor).times.each do %><i class="fa-solid fa-star"></i><% end %><% (5 - listing.rating.floor).times.each do %><i class="fa-regular fa-star"></i><% end %>
          </h5>
        <% end %>
        <div class="d-inline-block float-right">
          <%= link_to "Details", listing_path(listing.id), class:"btn btn-outline-secondary btn-sm stretched-link" %>
        </div>
      </div>
    </div>
  </div>
</div>