<h2>Edit Existing Listing</h2>
<%= form_tag listing_path(@listing), :method => :put do %>
  <%= label :listing, :title, 'Name', class: 'col-form-label' %>
  <%= text_field :listing, 'name', class: 'form-control' %><br/>
  <%= label :listing, :description, 'Description', class: 'col-form-label'  %>
  <%= text_field :listing, 'description', class: 'form-control' %><br/>
  <%= label :listing, :pick_up_location, 'Pick-up Location', class: 'col-form-label'  %>
  <%= text_field :listing, 'pick_up_location', class: 'form-control' %><br/>
  <%= label :listing, :fee, 'Rental Fee', class: 'col-form-label'  %>
  <%= text_field :listing, 'fee', class: 'form-control' %><br/>
  <%= label :listing, :fee_unit, 'Rental Fee Unit', class: 'col-form-label'  %>
  <%= select :listing, :fee_unit, fee_unit_options, {:class => 'form-control col-1'} %><br/>
  <%= label :listing, :fee_time, 'Rental Fee Time', class: 'col-form-label'  %>
  <%= select :listing, :fee_time, fee_time_options, {:class => 'form-control col-1'} %><br/>
  <%= label :listing, :deposit, 'Deposit Amount', class: 'col-form-label'  %>
  <%= text_field :listing, 'deposit', class: 'form-control' %><br/>
  <%= submit_tag 'Update Listing Info', class: 'btn btn-primary' %><br/>
  <%= link_to 'Cancel', listings_path, class: 'btn btn-secondary' %>
<% end %>