<div class="container-fluid">
  <div class="row">
    <h2 class="col-5 mb-0"><%= @heading %></h2>
    <div class="col-7 mt-2">
      <div class="float-right">
        <%= form_tag listings_path, method: :get do %>
          <%= link_to "Add Listing", new_listing_path, class: "btn btn-outline-primary btn-sm mb-1 mr-1" %>
          <%= text_field_tag :search, @filtered_params[:search]%>
          <%= hidden_field_tag :home, "1" %>
          <%= submit_tag "Search"%>
        <% end %>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-2">
      <h4>Filter By</h4>
      <%= form_tag listings_path, method: :get, id: "item_filtering_form" do %>
        <h6 class="mt-3 mb-1">Category:</h6>
        <% @all_categories.each do |category| %>
          <div class="form-check ml-2">
            <%= check_box_tag "categories[#{category}]", "1",  @categories_to_show.include?(category), onchange: "this.form.submit()", class: "form-check-input" %>
            <%= label_tag "categories[#{category}]", category, class: "form-check-label" %>
          </div>
        <% end %>
        <h6 class="mt-3 mb-1">Fee Units:</h6>
        <% @all_fee_units.each do |fee_unit| %>
          <div class="form-check ml-2">
            <%= check_box_tag "fee_units[#{fee_unit}]", "1",  @fee_units_to_show.include?(fee_unit), onchange: "this.form.submit()", class: "form-check-input" %>
            <%= label_tag "fee_units[#{fee_unit}]", fee_unit, class: "form-check-label" %>
          </div>
        <% end %>
        <h6 class="mt-3 mb-1">Rental Time:</h6>
        <% @all_fee_times.each do |fee_time| %>
          <div class="form-check ml-2">
            <%= check_box_tag "fee_times[#{fee_time}]", "1",  @fee_times_to_show.include?(fee_time), onchange: "this.form.submit()", class: "form-check-input" %>
            <%= label_tag "fee_times[#{fee_time}]", fee_time, class: "form-check-label" %>
          </div>
        <% end %>
        <%= hidden_field_tag :home, "1" %>
      <% end %>
    </div>
    <div class="col-10">
      <div class="float-right">
        <%= form_tag listings_path(categories: @filtered_params[:categories], fee_units: @filtered_params[:fee_units], fee_times: @filtered_params[:fee_times], home: "1"), method: :get, local: true do %>
          <%= select_tag :sort, options_for_select(["Sort Price High to Low", "Sort Price Low to High", "Sort by Newest", "Sort by Oldest"], @filtered_params[:sort]), onchange: "this.form.submit()" %>
        <% end %>
      </div>
      <div class="row mt-5">
        <% @listings.each do |listing| %>
          <div class="col-4">
            <div class="card mb-4">
              <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title"><%= listing.name %></h5>
                <p class="card-text">
                  <%= listing.fee %> <%= listing.fee_unit %> per <%= listing.fee_time %> <br>
                </p>
                <%= link_to "Details", listing_path(listing.id), class:"btn btn-secondary" %>
              </div>
            </div>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>