<h2>All Listings</h2>

<table class="table table-striped col-md-12" id="listings">
  <thead>
  </thead>
  <tbody>
  <% @listings.each do |listing| %>
    <tr>
      <td>
        <%= listing.name %>
      </td>
      <td>
        <%= listing.description %>
      </td>
      <td>
        <%= listing.pick_up_location %>
      </td>
      <td>
        <%= listing.rental_fee %> <%= listing.rental_fee_unit %> per <%= listing.rental_fee_time %>
      </td>
      <td>
        <%= listing.deposit_amount %> dollars
      </td>
      <td>
        <%= link_to "More about #{listing.name}", listing_path(listing) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Add new listing', new_listing_path, :class => 'btn btn-primary' %>
