

<h2>Ongoing/Scheduled Rentals</h2>
<div class="row row-cols-3 g-3">
  <% @rentals.where(status: %w[upcoming ongoing]).each do |rental| %>
    <div class = "col">
      <div class="card">
        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= rental.listing.name %></h5> <br>
          <p class="card-text">
            <%= rental.request.pick_up_time.strftime("%m/%d/%y, %I:%M %P") %> - <%= rental.request.return_time.strftime("%m/%d/%y, %I:%M %P") %> <br>
          </p>
          <%= link_to "View rental", rental_request_path(rental.request.id), class:"btn btn-secondary" %>

        </div>
      </div>
      <br>
    </div>
  <%end%>
</div>
<h2>New Rental Requests</h2>
<div class="row row-cols-3 g-3">
  <% @requests.where(status: "pending").each do |request| %>
    <div class = "col">
      <div class="card">
        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= request.listing.name %></h5> <br>
          <p class="card-text">
            <%= request.pick_up_time.strftime("%m/%d/%y, %I:%M %P") %> - <%= request.return_time.strftime("%m/%d/%y, %I:%M %P") %> <br>
          </p>
          <%= link_to "View request", rental_request_path(request.id), class:"btn btn-secondary" %>

        </div>
      </div>
      <br>
    </div>
  <%end%>
</div>

<h2>Listed Items</h2>
<%= link_to "Add new listing", new_listing_path, :class => "btn btn-primary" %>
<br/>
<br/>
<div class="row row-cols-3 g-3">
  <% @listings.each do |listing| %>
    <div class = "col">
      <div class="card">
        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= listing.name %></h5> <br>
          <p class="card-text">
            Item Category: <%= listing.item_category %> <br>
            Description: <%= listing.description %> <br>
            Pick-Up Location: <%= listing.pick_up_location %> <br>
            Fee: <%= listing.fee %> <%= listing.fee_unit %> per <%= listing.fee_time %> <br>
            Deposit: <%= listing.deposit %> dollars <br>
          </p>
          <%= link_to "Details", listing_path(listing.id), class:"btn btn-secondary" %>
      
        </div>
      </div>
      <br>
    </div>
  <%end%>
  </div>
</div>

<!--<table class="table table-striped col-md-12" id="listings">-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th>Item Name</th>-->
<!--      <th>Description</th>-->
<!--      <th>Pick-up Location</th>-->
<!--      <th>Rental Fee</th>-->
<!--      <th>Deposit</th>-->
<!--    </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
  <%# @listings.each do |listing| %>
<!--    <tr>-->
<!--      <td><%#= link_to listing.name, listing_path(listing.id)%></td>-->
<!--      <td><%#= listing.description %></td>-->
<!--      <td><%#= listing.pick_up_location %></td>-->
<!--      <td><%#= listing.fee %> <%#= listing.fee_unit %> per <%#= listing.fee_time %></td>-->
<!--      <td><%#= listing.deposit %> dollars</td>-->
<!--    </tr>-->
  <%# end %>
<!--  </tbody>-->
<!--</table>-->

<!--</div>-->