<h3>Currently renting out ...</h3>
<div class="row row-cols-3 g-3">
  <% if @ongoing.size == 0 %>
    <div class = "col">
      <div class="card">
        <div class="card-body">
          <p class="card-text">
            You are not currently renting out any items.
          </p>
        </div>
      </div>
      <br>
    </div>
  <% else %>
    <% @ongoing.each do |rental| %>
      <div class = "col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= rental.listing.name %></h5> <br>
            <p class="card-text">
              <%= rental.request.pick_up_time.strftime("%m/%d/%y, %I:%M %P") %> - <%= rental.request.return_time.strftime("%m/%d/%y, %I:%M %P") %> <br>
            </p>
            <%= link_to "View rental", rental_path(rental.id), class:"btn btn-secondary" %>

          </div>
        </div>
        <br>
      </div>
    <%end%>
  <%end%>
</div>

<hr>

<h3>Approved Requests</h3>
<div class="row row-cols-3 g-3">
  <% if @upcoming.size == 0 %>
    <div class = "col">
      <div class="card">
        <div class="card-body">
          <p class="card-text">
            You have no approved rental requests at the moment.
          </p>
        </div>
      </div>
      <br>
    </div>
  <% else %>
    <% @upcoming.each do |rental| %>
      <div class = "col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= rental.listing.name %></h5> <br>
            <p class="card-text">
              <%= rental.request.pick_up_time.strftime("%m/%d/%y, %I:%M %P") %> - <%= rental.request.return_time.strftime("%m/%d/%y, %I:%M %P") %> <br>
            </p>
            <%= link_to "View rental", rental_path(rental.id), class:"btn btn-secondary" %>
          </div>
        </div>
        <br>
      </div>
    <%end%>
  <%end%>
</div>

<hr>

<h3>Pending Requests</h3>
<div class="row row-cols-3 g-3">
  <% if @pending.size == 0 %>
    <div class = "col">
      <div class="card">
        <div class="card-body">
          <p class="card-text">
            You have no new rental requests.
          </p>
        </div>
      </div>
      <br>
    </div>
  <% else %>
    <% @pending.each do |request| %>
      <div class = "col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= request.listing.name %></h5> <br>
            <p class="card-text">
              <%= request.pick_up_time.strftime("%m/%d/%y, %I:%M %P") %> - <%= request.return_time.strftime("%m/%d/%y, %I:%M %P") %> <br>
            </p>
            <%= link_to "View request", listing_rental_requests_path(request.listing.id), class:"btn btn-secondary" %>

          </div>
        </div>
        <br>
      </div>
    <%end%>
  <%end%>
</div>

<hr>

<h3>Listed Items</h3>
<%= link_to "Add new listing", new_listing_path, :class => "btn btn-primary" %>
<br/>
<br/>
<div class="row row-cols-3 g-3">
  <% if @listings.size == 0 %>
    <div class = "col">
      <div class="card">
        <div class="card-body">
          <p class="card-text">
            You do not have any listings.
          </p>
        </div>
      </div>
      <br>
    </div>
  <% else %>
    <% @listings.each do |listing| %>
      <div class = "col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= listing.name %></h5>
            <p class="card-text">
              <%= listing.fee %> <%= listing.fee_unit %> / <%= listing.fee_time %> <br>
            </p>
            <div class="justify-content-end w-100">
              <h4 class="d-inline-block mb-0 text-muted">
                <% 5.times.each do %><i class="fa-solid fa-star"></i><% end %>
              </h4>
              <div class="d-inline-block float-right">
                <%= link_to "Details", listing_path(listing.id), class:"btn btn-secondary btn-sm" %>
              </div>
            </div>
          </div>
        </div>
        <br>
      </div>
    <%end%>
  <%end%>
  </div>
</div>