

<div class = "content">

<h2>My Listings</h2>

<%= link_to "Add new listing", new_listing_path, :class => "btn btn-primary" %>
<br>
<br>

<div class="row row-cols-3 g-3">
  <% @listings.each do |listing| %>
    <div class = "col">
      <div class="card">
        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= listing.name %></h5> <br>
          <p class="card-text">
            Item Category: <%= listing.item_category %> <br>
            Description: <%= listing.description %> <br>
            Pick-Up Location: <%= listing.pick_up_location %> <br>
            Fee: <%= listing.fee %> <%= listing.fee_unit %> per <%= listing.fee_time %> <br>
            Deposit: <%= listing.deposit %> dollars <br>
          </p>
          <%= link_to "Details", listing_path(listing.id), class:"btn btn-secondary" %>
      
        </div>
      </div>
      <br>
    </div>
  <%end%>
  </div>
</div>

<table class="table table-striped col-md-12" id="listings">
  <thead>
  </thead>
  <tbody>
  <tr>
    <th>Item Name</th>
    <th>Description</th>
    <th>Pick-up Location</th>
    <th>Rental Fee</th>
    <th>Deposit</th>
  </tr>
  <% @listings.each do |listing| %>
    <tr>
      <td><%= link_to listing.name, listing_path(listing.id)%></td>
      <td><%= listing.description %></td>
      <td><%= listing.pick_up_location %></td>
      <td><%= listing.fee %> <%= listing.fee_unit %> per <%= listing.fee_time %></td>
      <td><%= listing.deposit %> dollars</td>
    </tr>
  <% end %>
  </tbody>
</table>

</div>