<div class="container">
  <div class="row">
    <h2 class="col-md-5 col-sm-12 mb-0">My Listings</h2>
    <div class="col-md-7 col-sm-12 mt-2">
      <div class="float-right">
        <%= link_to "Add Listing", new_listing_path, class: "btn btn-outline-primary btn-sm mb-1" %>
      </div>
    </div>
  </div>
  <hr>

  <div id="my-rentals" class="accordion accordion-flush mt-4">

    <div class="accordion-item">
      <div id="ongoing-rentals-heading" class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#ongoing-rentals">
          <h5 class="mb-0 text-uppercase">Currently Renting Out <span class="badge bg-info ml-2"><%= @ongoing_rentals.size %></span></h5>
        </button>
      </div>
      <div id="ongoing-rentals" class="accordion-collapse collapse show">
        <div class="accordion-body py-4">
          <div class="row row-cols-3 g-3 mb-4">
            <% if @ongoing_rentals.empty? %>
              <div class="col-md-4 col-12">
                <div class="card">
                  <div class="card-body p-3">
                    <p class="card-text">
                      You are not currently renting out any items.
                    </p>
                  </div>
                </div>
              </div>
            <%end%>
            <%= render @ongoing_rentals %>
          </div>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <div id="upcoming-rentals-heading" class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#upcoming-rentals">
          <h5 class="mb-0 text-uppercase">Approved Rentals <span class="badge bg-success ml-2"><%= @upcoming_rentals.size %></span></h5>
        </button>
      </div>
      <div id="upcoming-rentals" class="accordion-collapse collapse show">
        <div class="accordion-body py-4">
          <div class="row row-cols-3 g-3 mb-4">
            <% if @upcoming_rentals.empty? %>
              <div class="col-md-4 col-12">
                <div class="card">
                  <div class="card-body p-3">
                    <p class="card-text">
                      You have not approved any rentals.
                    </p>
                  </div>
                </div>
              </div>
            <%end%>
            <%= render @upcoming_rentals %>
          </div>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <div id="pending-requests-heading" class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#pending-requests">
          <h5 class="mb-0 text-uppercase">Pending Requests <span class="badge bg-warning ml-2"><%= @pending_requests.size %></span></h5>
        </button>
      </div>
      <div id="pending-requests" class="accordion-collapse collapse show">
        <div class="accordion-body py-4">
          <div class="row row-cols-3 g-3 mb-4">
            <% if @pending_requests.empty? %>
              <div class="col-md-4 col-12">
                <div class="card">
                  <div class="card-body p-3">
                    <p class="card-text">
                      You have no new rental requests at the moment.
                    </p>
                  </div>
                </div>
              </div>
            <%end%>
            <%= render @pending_requests %>
          </div>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <div id="listings-heading" class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#listings">
          <h5 class="mb-0 text-uppercase">All My Listings <span class="badge bg-secondary ml-2"><%= @listings.size %></span></h5>
        </button>
      </div>
      <div id="listings" class="accordion-collapse collapse show">
        <div class="accordion-body py-4">
          <div class="row row-cols-3 g-3 mb-4">
            <% if @listings.empty? %>
              <div class="col-md-4 col-12">
                <div class="card">
                  <div class="card-body p-3">
                    <p class="card-text">
                      You do not have any items listed for rental.
                    </p>
                  </div>
                </div>
              </div>
            <%end%>
            <%= render @listings %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>