<%=yield%><%= render "shared/navbar" %>

<h2>My Listings</h2>

<table class="table table-striped col-md-12" id="listings">
  <thead>
  </thead>
  <tbody>
  <% @listings.each do |listing| %>
    <tr>
      <td>
        <%= listing.name %>
      </td>
      <td>
        <%= listing.description %>
      </td>
      <td>
        <%= listing.pick_up_location %>
      </td>
      <td>
        <%= listing.fee %> <%= listing.fee_unit %> per <%= listing.fee_time %>
      </td>
      <td>
        <%= listing.deposit %> dollars
      </td>
      <td>
        <%= link_to "More about #{listing.name}", listing_path(listing) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to "Add new listing", new_listing_path, :class => "btn btn-primary" %>
