
<div class="row d-flex justify-content-center align-items-center h-100", style="margin-top: 50px">
  <div class="col-12 col-md-8 col-lg-6 col-xl-5">
    <div class="card shadow-2-strong" style="border-radius: 1rem;">
      <div class="card-body p-3 text-center">
      <%= content_tag :h2, "New Item Listing" %>
        <%= form_for @listing do |f| %>
          <%= f.text_field :name %><br>
          <%= f.label :name, "Name", class: "col-form-label" %>
          <br>
          <%= f.text_field :description %><br>
          <%= f.label :description, "Description", class: "col-form-label"  %>
          <br>
          <%= f.text_field :pick_up_location %><br>
          <%= f.label :pick_up_location, "Pick-up Location", class: "col-form-label"  %>
          <br>
          <%= f.number_field :fee, step: 0.01 %><br>
          <%= f.label :fee, "Rental Fee", class: "col-form-label"  %>
          <br>
          <%= f.label :fee_unit, "Rental Fee Unit", class: "col-form-label"  %>: 
          <%= f.select :fee_unit, fee_unit_options %><br>
          <br>
          <%= f.label :fee_time, "Rental Fee Time", class: "col-form-label"  %>: 
          <%= f.select :fee_time, fee_time_options %><br>
          <br>
          <%= f.number_field :deposit, step: 0.01 %><br>
          <%= f.label :deposit, "Deposit Amount", class: "col-form-label"  %>
          <br>
          <br>
          <%= f.label :payment_methods, "Accepted Payment Methods:", class: "col-form-label"  %> <br>
          <%= f.check_box :venmo %> Venmo <br>
          <%= f.check_box :paypal %> Paypal <br>
          <%= f.check_box :cash %> Cash <br>
          <br>
          Item Category: <%= f.select :item_category, item_category_options %><br>
          <br>
          <%= f.submit "Add Listing" %>
        <% end %>
      </div>
    </div>
  </div>
</div>