<%=yield%><%= render "shared/navbar" %>

<h2>Details about <em><%= @listing.name %></em></h2>

<ul id="details">
  <li>
    Description:
    <%= @listing.description %>
  </li>
  <li>
    Pick-up Location:
    <%= @listing.pick_up_location %>
  </li>
  <li>
    Fee:
    <%= @listing.fee %> <%= @listing.fee_unit %> per <%= @listing.fee_time %>
  </li>
  <li>
    Deposit:
    <%= @listing.deposit %> <%= @listing.fee_unit %>
  </li>
  <li>
    Owner:
    <%= @listing.owner.full_name %>
  </li>
</ul>

<% if @is_mine %>
  <%= link_to 'View requests for this item', listing_rental_requests_path(@listing.id), :class => 'btn btn-primary col-2' %>
<% else %>
  <%= link_to 'Rent this!', new_listing_rental_request_path(@listing.id), :class => 'btn btn-primary col-2' %>
<% end %>

<div class="row">
  <% if @is_mine %>
    <%= link_to 'Edit', edit_listing_path(@listing), :class => 'btn btn-primary col-2' %>
    <%= button_to 'Delete', listing_path(@listing), :method => :delete %>
  <% end %>
  <%= link_to 'Back to listings', listings_path, :class => 'btn btn-primary col-2' %>
</div>