<h2>Details about <em><%= @listing.name %></em></h2>

<ul id="details">
  <li>
    Description:
    <%= @listing.description %>
  </li>
  <li>
    Pick-up Location:
    <%= @listing.pick_up_location %>
  </li>
  <li>
    Owner:
    <%= @listing.owner.full_name %>
  </li>
</ul>

<div class="row">
  <%#= link_to 'Edit', edit_listing_path(@listing), :class => 'btn btn-primary col-2' %>
  <%= link_to 'Delete', listing_path(@listing), 'data-method' => 'delete', 'data-confirm' => 'Are you sure?', :class => 'btn btn-danger col-2' %>
  <%= link_to 'Back to listings', listings_path, :class => 'btn btn-primary col-2' %>
</div>