<%=yield%><%= render "shared/navbar" %>

<div class = "content">
  <%= link_to 'Back to listings', listings_path, :class => 'btn btn-primary col-1' %>
  <br>
  <br>

  <div class="row">
    <div class="col-4">
      <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="Card image cap">
    </div>
    <div class="col-8", align="center">
      <h2><em><%= @listing.name %></em></h2>
      <h5><%= @listing.fee %> <%= @listing.fee_unit %> per <%= @listing.fee_time %></h5>
      <p>
        Category: <%= @listing.item_category %><br>
        Description: <%= @listing.description %>
      </p>


    <% if @is_mine %>
      <%= link_to 'View requests for this item', listing_rental_requests_path(@listing.id), :class => 'btn btn-primary col-3' %>
    <% else %>
      <%= link_to 'Rent this!', new_listing_rental_request_path(@listing.id), :class => 'btn btn-primary col-2' %>
    <% end %>
      
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-4">
      <h4> Terms of Rental </h4>
      <p>
        Deposit: <%= @listing.deposit %> <%= @listing.fee_unit %><br>
        Pick-up Location: <%= @listing.pick_up_location %><br>
        Owner: <%= @listing.owner.full_name %>
      </p>
    </div>
    <div class="col-8", align="center">
      
    </div>
  </div>

  <div class="row", style="margin: 0px">
    <% if @is_mine %>
      <%= link_to 'Edit', edit_listing_path(@listing), :class => 'btn btn-primary', :style=> 'margin:5px' %>
      <%= button_to 'Delete', listing_path(@listing), :class => 'btn btn-danger', :method => :delete, :style=> 'margin:5px' %>
    <% end %>
  </div>

</div>