<div class="container vh-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
      <div class="card mb-5">
        <div class="card-body">

          <h1 class="display-4 font-weight-bold card-title text-center mb-4">RentDash</h1>

          <ul class="nav nav-tabs nav-justified mb-3">
            <li class="nav-item">
              <%= link_to "Login", login_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Register", new_user_path, class: "nav-link active" %>
            </li>
          </ul>

          <%= form_for @user do |f| %>
            <div class="form-outline my-2">
              <%= f.label :email, "Email address", class: "form-label" %>
              <%= f.text_field :email, class: "form-control" %>
            </div>
            <div class="form-outline my-2">
              <%= f.label :phone, "Phone Number", class: "form-label" %>
              <%= f.text_field :phone, class: "form-control" %>
            </div>
            <div class="form-outline my-2">
              <%= f.label :first_name, "First name", class: "form-label" %>
              <%= f.text_field :first_name, class: "form-control" %>
            </div>
            <div class="form-outline my-2">
              <%= f.label :last_name, "Last name", class: "form-label" %>
              <%= f.text_field :last_name, class: "form-control" %>
            </div>
            <div class="form-outline my-2">
              <%= f.label :password, "Password", class: "form-label" %>
              <%= f.password_field :password, class: "form-control" %>
            </div>
            <div class="form-outline my-2">
              <%= f.label :password, "Password (Confirm)", class: "form-label" %>
              <%= f.password_field :password_confirmation, class: "form-control" %>
            </div>

            <%= f.submit "Sign Up!", class: "btn btn-primary btn-block my-4" %>
            <div class="text-center">
              <p>Already have an account? <%= link_to "Login", login_path, class: "btn-link" %></p>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>