<% if current_user %>
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
      <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2 justify-content-end">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to "Home", listings_path, class: "nav-link"%>
          </li>
          <li class="nav-item">
            <%= link_to "My Listings", my_listings_path, class: "nav-link"%>
          </li>
          <li class="nav-item">
            <%= link_to "My Rentals", rentals_path, class: "nav-link"%>
          </li>
        </ul>
      </div>
      <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="/listings">RentDash</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".dual-collapse2">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to "#{current_user.full_name}", user_path(current_user.id), class: "nav-link"%>
          </li>
          <li class="nav-item">
            <%= button_to "Sign out", logout_path, method: :delete, style: "border:none; background-color:transparent", class: "nav-link"%>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<% end %>