<h2>Edit Rental</h2>
<%= form_tag rental_path(@rental), method: :put do %>
  <%= label :rental_request, :pick_up_time, "Pick-up Time" %>
  <%= datetime_field :rental_request, :pick_up_time %>
  <%= label :rental_request, :return_time, "Return Time" %>
  <%= datetime_field :rental_request, :return_time %>
  <%= label :rental, :payment_method, "Payment Method" %>
  <%= select :rental, :payment_method, payment_method_options(@rental) %>
  <%= label :rental, :status, "Status" %>
  <%= select :rental, :status, status_options(@rental) %>
  <%= submit_tag "Update Rental", class: "btn btn-primary" %><br/>
  <%= link_to "Cancel", rental_path(@rental.id), class: "btn btn-secondary" %>
<% end %>