<div class="container mt-5">
  <%= render partial: "listings/listing_main", locals: {show_details_btn: true, show_requests_btn: true} %>
  <hr>
  <div class="row justify-content-center">
    <div class="col-md-4 col-sm-12">
      <%= render partial: "listings/listing_terms_of_rental" %>
    </div>
    <div class="col-md-8 col-sm-12">
      <div class="card bg-light border-warning">
        <div class="card-header">
          <h6 class="mb-0 text-uppercase">Rental by <%= @rental.renter.full_name %></h6>
        </div>
        <div class="card-body">
          <%= form_tag rental_path(@rental), method: :put do %>
            <%= label :rental_request, :pick_up_time, "Pick-up Time" %>
            <%= datetime_field :rental_request, :pick_up_time %>
            <%= label :rental_request, :return_time, "Return Time" %>
            <%= datetime_field :rental_request, :return_time %>
            <%= label :rental, :payment_method, "Payment Method" %>
            <%= select :rental, :payment_method, payment_method_options(@rental) %>
            <%= label :rental, :status, "Status" %>
            <%= select :rental, :status, status_options(@rental) %>
            <%= submit_tag "Edit Rental", class: "btn btn-warning" %><br/>
            <%= link_to "Cancel", rental_path(@rental.id), class: "btn btn-secondary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>