

<h2>Ongoing Rentals</h2>
<div class="row row-cols-3 g-3">
  <% if @ongoing.size == 0 %>
    <div class = "col">
      <div class="card">
        <div class="card-body">
          <p class="card-text">
            You are not renting anything at the moment.
          </p>
        </div>
      </div>
      <br>
    </div>
  <% else %>
    <% @ongoing.each do |rental| %>
      <div class = "col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= rental.listing.name %></h5> <br>
            <p class="card-text">
              <%= rental.request.pick_up_time.strftime("%m/%d/%y, %I:%M %P") %> - <%= rental.request.return_time.strftime("%m/%d/%y, %I:%M %P") %> <br>
            </p>
            <%= link_to "Details", rental_path(rental.id), class:"btn btn-secondary" %>
          </div>
        </div>
        <br>
      </div>
    <%end%>
  <%end%>
</div>

<h2>Scheduled Rentals</h2>
<div class="row row-cols-3 g-3">
  <% if @upcoming.size == 0 %>
    <div class = "col">
      <div class="card">
        <div class="card-body">
          <p class="card-text">
            You do not have any scheduled rentals.
          </p>
        </div>
      </div>
      <br>
    </div>
  <% else %>
    <% @upcoming.each do |rental| %>
      <div class = "col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= rental.listing.name %></h5> <br/>
            <p class="card-text">
              <%= rental.request.pick_up_time.strftime("%m/%d/%y, %I:%M %P") %> - <%= rental.request.return_time.strftime("%m/%d/%y, %I:%M %P") %> <br>
            </p>
            <%= link_to "Details", rental_path(rental.id), class:"btn btn-secondary" %>
          </div>
        </div>
        <br>
      </div>
    <%end%>
  <%end%>
</div>

<h2>Requests Pending</h2>
<div class="row row-cols-3 g-3">
  <% if @pending.size == 0 %>
    <div class = "col">
      <div class="card">
        <div class="card-body">
          <p class="card-text">
            You do not have any requests pending.
          </p>
        </div>
      </div>
      <br>
    </div>
  <% else %>
    <% @pending.each do |request| %>
      <div class = "col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= request.listing.name %></h5> <br>
            <p class="card-text">
              <%= request.pick_up_time.strftime("%m/%d/%y, %I:%M %P") %> - <%= request.return_time.strftime("%m/%d/%y, %I:%M %P") %> <br>
            </p>
            <%= link_to "Details", rental_request_path(request.id), class:"btn btn-secondary" %>
          </div>
        </div>
        <br>
      </div>
    <%end%>
  <%end%>
</div>