

<h2>Ongoing Rentals</h2>
<div class="row row-cols-3 g-3">
  <% @rentals.where(status: "ongoing").each do |rental| %>
    <div class = "col">
      <div class="card">
        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= rental.listing.name %></h5> <br>
          <p class="card-text">
            <%= rental.request.pick_up_time.strftime("%m/%d/%y, %I:%M %P") %> - <%= rental.request.return_time.strftime("%m/%d/%y, %I:%M %P") %> <br>
          </p>
          <%#= link_to "Details", rental_path(rental.id), class:"btn btn-secondary" %>
        </div>
      </div>
      <br>
    </div>
  <%end%>
</div>

<h2>Scheduled Rentals</h2>
<div class="row row-cols-3 g-3">
  <% @rentals.where(status: "upcoming").each do |rental| %>
    <div class = "col">
      <div class="card">
        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= rental.listing.name %></h5>
          <p class="card-text">
            <%= rental.request.pick_up_time.strftime("%m/%d/%y, %I:%M %P") %> - <%= rental.request.return_time.strftime("%m/%d/%y, %I:%M %P") %> <br>
          </p>
          <%#= link_to "Details", rental_path(rental.listing.id), class:"btn btn-secondary" %>
        </div>
      </div>
      <br>
    </div>
  <%end%>
</div>

<h2>Requests Pending</h2>
<div class="row row-cols-3 g-3">
  <% @requests.where(status: "pending").each do |request| %>
    <div class = "col">
      <div class="card">
        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= request.listing.name %></h5> <br>
          <p class="card-text">
            <%= request.pick_up_time.strftime("%m/%d/%y, %I:%M %P") %> - <%= request.return_time.strftime("%m/%d/%y, %I:%M %P") %> <br>
          </p>
          <%= link_to "Details", rental_request_path(request.id), class:"btn btn-secondary" %>
        </div>
      </div>
      <br>
    </div>
  <%end%>
</div>

<!--<table class="table table-striped col-md-12">-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th>Listing</th>-->
<!--      <th>Pick-up Time</th>-->
<!--      <th>Return Time</th>-->
<!--      <th>Pick-up Location</th>-->
<!--      <th>Payment Method</th>-->
<!--      <th>Status</th>-->
<!--    </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
  <%# @rentals.each do |rental| %>
<!--    <tr>-->
<!--      <td><%#= link_to rental.listing.name, listing_path(rental.listing.id) %></td>-->
<!--      <td><%#= rental.request.pick_up_time %></td>-->
<!--      <td><%#= rental.request.return_time %></td>-->
<!--      <td><%#= rental.listing.pick_up_location %></td>-->
<!--      <td><%#= rental.payment_method %></td>-->
<!--      <td><%#= rental.status %></td>-->
<!--    </tr>-->
  <%# end %>
<!--  </tbody>-->
<!--</table>-->