<h2><%= @rental.listing.name %></h2>

<ul id="details">
  <li>
    Rental Dates:
    <%= @rental.request.pick_up_time %> - <%= @rental.request.return_time %>
  </li>
  <li>
    Pick-up Location:
    <%= @rental.listing.pick_up_location %>
  </li>
  <li>
    Payment Method:
    <%= @rental.payment_method %>
  </li>
  <li>
    Status:
    <%= @rental.status %>
  </li>
  <%= link_to "Edit Rental Details", edit_rental_path(@rental), class: "btn btn-primary" %>
  <% if @rental.status == "upcoming" %>
    <%= button_to "Cancel Rental", cancel_rental_path(@rental), method: :post, class: "btn btn-danger" %>
  <% end %>
</ul>