

<h2><em><%= @rental.name %></em></h2>

<ul id="details">
  <li>
    Rental Dates:
    <%= @rental.request.pick_up_time %> - <%= @rental.request.return_time %>
  </li>
  <li>
    Pick-up Location:
    <%= @rental.request.pick_up_location %>
  </li>
  <li>
    Payment Method:
    <%= @rental.request.payment_method %>
  </li>
</ul>

<div class="row">
  <%= link_to 'See Item Listing', listing_path() %>
</div>