<%=yield%><%= render "shared/navbar" %>

<h2>Requests for My Listings</h2>

<table class="table table-striped col-md-12">
  <thead>
  </thead>
  <tbody>
  <% @rental_requests.each do |rental_request| %>
    <tr>
      <td>
        <%= @listing.name %>
      </td>
    </tr>
    <tr>
      <td>
        <%= rental_request.pick_up_date%>
      </td>
    </tr>
    <tr>
      <td>
        <%= rental_request.return_date %>
      </td>    
    </tr>
  <% end %>
  </tbody>
</table>