<%=yield%><%= render "shared/navbar" %>

<h2>Rental Requests for <em><%= @listing.name %></em></h2>

<table class="table table-striped col-md-12">
  <thead>
  </thead>
  <tbody>
  <tr>
    <th>Requester</th>
    <th>Pick-up Date</th>
    <th>Return Date</th>
    <th>Actions</th>
  </tr>
  <% @rental_requests.each do |request| %>
    <tr>
      <td><%= request.requester.full_name %></td>
      <td><%= request.pick_up_date %></td>
      <td><%= request.return_date %></td>
      <td><%= button_to "Approve" %><%= button_to "Decline" %></td>
      <td><%= link_to "Details", listing_rental_request_path(listing_id: request.listing.id, id: request.id) %></td>
    </tr>
  <% end %>
  </tbody>
</table>