<div class="container mt-5">
  <%= render partial: "listings/listing_main", locals: {show_rent_btn: true, show_details_btn: true} %>
  <hr>
  <table class="table table-responsive-sm table-hover col-md-12 text-center">
    <thead>
      <tr>
        <th></th>
        <th>Requester</th>
        <th>Pick-up Time</th>
        <th>Return Time</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    <% @rental_requests.each do |request| %>
      <tr>
        <td class="align-middle">
          <% if request.status == "declined" or request.rental&.status == "cancelled" %>
            <i class="fa-sharp fa-solid fa-circle-xmark text-danger"></i>
          <% elsif request.status == "pending" %>
            <i class="fa-sharp fa-solid fa-circle-question text-warning"></i>
          <% elsif request.status == "approved" %>
            <i class="fa-sharp fa-solid fa-circle-check text-success"></i>
          <% end %>
        </td>
        <td class="align-middle"><%= request.requester.full_name %></td>
        <td class="align-middle"><%= request.pick_up_time.strftime "%a %m/%d/%y %l:%M %p" %></td>
        <td class="align-middle"><%= request.return_time.strftime "%a %m/%d/%y %l:%M %p" %></td>
        <td class="align-middle">
          <% if request.status == "pending" %>
            <% if request.listing.owner == current_user %>
              <div class="d-flex justify-content-center">
                <%= button_to "Approve", approve_rental_request_path(request.id), method: :post, class: "btn btn-success btn-sm mx-1" %>
                <%= button_to "Decline", decline_rental_request_path(request.id), method: :post, class: "btn btn-danger btn-sm mx-1" %>
              </div>
            <% else %>
              <div class="d-flex justify-content-center">
                <%= link_to "Edit", edit_rental_request_path(request.id), class: "btn btn-warning btn-sm mx-1" %>
                <%= button_to "Cancel", rental_request_path(request.id), method: :delete, class: "btn btn-danger btn-sm mx-1" %>
              </div>
            <% end %>
          <% elsif request.status == "approved" and not request.rental.nil? %>
              <%= link_to "View Rental", rental_path(request.rental.id) %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>