<%=yield%><%= render "shared/navbar" %>

<h2>My Requests</h2>

<table class="table table-striped col-md-12">
  <thead>
  </thead>
  <tbody>
    <tr>
      <th>Listing</th>
      <th>Pick-up Date</th>
      <th>Return Date</th>
    </tr>
    <% @rental_requests.each do |rental_request| %>
      <tr>
        <td><%= link_to rental_request.listing.name, listing_path(rental_request.listing.id) %></td>
        <td><%= rental_request.pick_up_date %></td>
        <td><%= rental_request.return_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>