<%=yield%><%= render "shared/navbar" %>

<div class="content">
  <h2>My Requests</h2>

<<<<<<< HEAD
  <table class="table table-striped col-md-12">
    <thead>
    </thead>
    <tbody>
      <tr>
        <th>Listing</th>
        <th>Pick-up Date</th>
        <th>Return Date</th>
        <th></th>
=======
<table class="table table-striped col-md-12">
  <thead>
  </thead>
  <tbody>
    <tr>
      <th>Listing</th>
      <th>Pick-up Date</th>
      <th>Return Date</th>
      <th>Status</th>
      <th></th>
    </tr>
    <% @rental_requests.each do |request| %>
      <tr>
        <td><%= link_to request.listing.name, listing_path(request.listing.id) %></td>
        <td><%= request.pick_up_date %></td>
        <td><%= request.return_date %></td>
        <td><%= request.status %></td>
        <td><%= link_to "Details", rental_request_path(request.id) %></td>
>>>>>>> cd3821bb56787dde226bb8f0e54f7a0b166da084
      </tr>
      <% @rental_requests.each do |rental_request| %>
        <tr>
          <td><%= link_to rental_request.listing.name, listing_path(rental_request.listing.id) %></td>
          <td><%= rental_request.pick_up_date %></td>
          <td><%= rental_request.return_date %></td>
          <td><%= link_to "Details", rental_request_path(rental_request.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>