

<% if flash[:error] %>
  <%= content_tag :p, flash[:error] %>
<% end %>

<div class="container">

  <h2>Rental Request for <em><%= @listing.name %></em></h2>

  <div class="row">
    <div class="col-sm">
      <ul id="details">
        <li>Description: <%= @listing.description %></li>
        <li>Pick-up Location: <%= @listing.pick_up_location %></li>
        <li>Fee: <%= @listing.fee %> <%= @listing.fee_unit %> per <%= @listing.fee_time %></li>
        <li>Deposit: <%= @listing.deposit %> <%= @listing.fee_unit %></li>
        <li>Owner: <%= @listing.owner.full_name %></li>
      </ul>
    </div>
    <div class="col-sm">
      <%= form_for [@listing, @rental_request] do |f| %>
          Pick-up Time: <%= f.datetime_field :pick_up_time %><br>
          Return Time: <%= f.datetime_field :return_time %><br><br>
<!--      <i>The deposit and rental fee, if applicable, will be charged using the selected payment method.</i>-->
          Estimated Cost: <%= @listing.fee %> <%= @listing.fee_unit %> per <%= @listing.fee_time %> and $<%= @listing.deposit %> deposit <br>
          <br>
          <%= f.submit "Submit Rental Request" %>
      <% end %>
    </div>
  </div>
</div>

