<div class="container mt-5">
  <%= render partial: "listings/listing_header", locals: { show_details_btn: true, show_requests_btn: true} %>
  <hr>
  <div class="row justify-content-center">
    <div class="col-md-4 col-sm-12">
      <%= render partial: "listings/listing_terms_of_rental" %>
    </div>
    <div class="col-md-8 col-sm-12">
      <div class="card bg-light border-success">
        <div class="card-header">
          <h6 class="mb-0 text-uppercase">Rental Request Form</h6>
        </div>
        <div class="card-body pt-2">
          <%= form_for [@listing, @rental_request] do |f| %>
            <%= f.label :pick_up_time, "Pick-up Time", class: "col-form-label"%>
            <%= f.datetime_field :pick_up_time, class: "form-control mb-3" %>
            <%= f.label :return_time, "Return Time" %>
            <%= f.datetime_field :return_time, class: "form-control mb-3" %>
            Payment Method: <%= f.select :payment_method, payment_method_options(@listing) %><br>
            <br>
            <%= f.submit "Calculate Estimated Cost", name: "calculate_estimated_cost", class: "btn btn-info btn-sm" %>
            <% if @show_estimated_cost %>
              <p>
                Estimated Cost: <%= @estimated_cost %> <%= @listing.fee_unit %> total and $<%= @listing.deposit %> deposit
              </p>
            <%end%>
        
            <%= f.submit "Submit Rental Request", class: "btn btn-success btn-sm" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

