<div class="container mt-5">
  <%= render partial: "listings/listing_main", locals: {show_details_btn: true, show_requests_btn: true} %>
  <hr>
  <div class="row justify-content-center">
    <div class="col-md-4 col-sm-12">
      <%= render partial: "listings/listing_terms_of_rental" %>
    </div>
    <div class="col-md-8 col-sm-12">
      <div class="card bg-light border-warning">
        <div class="card-header">
          <h6 class="mb-0 text-uppercase">Edit Review</h6>
        </div>
        <div class="card-body pt-2">
          <%= form_tag listing_review_path(@listing, @listing_review), method: :patch do %>
            <%= label :listing_review, :review, "Review" %>
            <%= text_area :listing_review, :review, class: "form-control mb-2" %>
            <%= label :listing_review, :rating, "Rating" %>
            <%= number_field :listing_review, :rating, class: "form-control mb-3", min: 1, max: 5 %>
            <%= submit_tag "Update Review", class: "btn btn-warning btn-sm" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

